<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>.link {color:Gold;}</style>    
    {% block titulo %}{% endblock titulo%}
</head>

<body style="color:white; background-color: black; font-size: xx-large">
	<hr>
	<a class="link" href='/'>MyLittlePixel</a>
	<a class="link" href='/foro/'>Foro</a>
	<a class="link" href='/galeria/'>Galeria</a>
	<a class="link" href='/miscelaneo/'>Miscelaneo</a>
	<a style="font-size: small; position: relative; right: -300px;">Commit 48</a>
	<hr>
	{% if user.is_authenticated %}
		<a class="link" href='/profile/'>Mi cuenta</a>
		<a class="link" href='/logout/'>Cerrar Sesión</a>
	{% else %}
		<a class="link" href='/login/'>Ingresar</a>
		<a class="link" href='/register/'>Registrarme</a>
	{% endif %}
	<hr>
	{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	{% endif %}
    {% block contenido %}{% endblock contenido %}

    {% block javascript %} {% endblock javascript %}
</body>



</html>


