{% load static %}

<div class="col-md-12 c-center">
    <canvas height="1000" id="Canvas" style="border: 1px solid #ffffff;
                    -ms-interpolation-mode: nearest-neighbor;
                    image-rendering: pixelated;
                    color:white; background-color: black;"
            width="1000">
        Activa JavaScript
    </canvas>
</div>

<script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script id="CargarGrilla" src="{% static 'Juego/js/CargarGrilla.js' %}" type="text/javascript"></script>



