{% extends "Juego/Base.html" %}

{% block titulo %}

    <title>Juego</title>

{% endblock titulo %}

{% block contenido %}

    <h1 id="titulo">Esta es la pagina del Juego en un archivo HTML</h1>
    <p id="x">Coord X</p>
    <p id="y">Coord Y</p>
    <p id="test">test</p>

    <canvas id="Canvas" width="1000" height="1000"
            style="border: 1px solid #ffffff;
            transform: translate(400px,-200px);
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: pixelated;"
            onclick="getCursorPosition(Canvas, onclick)">
        Activa JavaScript
    </canvas>

    <button onclick="drawBoard()" style="transform: translate(-1000px, -1000px)">Reset</button>

<script id="Clicks">

    function getCursorPosition(canvas, event)
    {
        var rect = canvas.getBoundingClientRect();

        var x = Math.ceil(((event.clientX - rect.left) -1) / 20);
        var y = Math.ceil(((event.clientY - rect.top) -1) / 20);

        document.getElementById("x").innerHTML = "Coord X " + x;
        document.getElementById("y").innerHTML = "Coord Y " + y;

        pintar(x, y, canvas)
    }
    var canvas = document.querySelector('Canvas');
    canvas.addEventListener('mousedown', function(e){getCursorPosition(Canvas, e)});

</script>

<script id="Pintar">

    function pintar(x, y, canvas)
    {
        var c = canvas
        var context = c.getContext("2d");
        var imageData = context.createImageData(20, 20);

        // Iterate through every pixel
        for (let i = 0; i < imageData.data.length; i += 4)
        {
            // Modify pixel data
            imageData.data[i + 0] = 190;  // R value
            imageData.data[i + 1] = 0;    // G value
            imageData.data[i + 2] = 210;  // B value
            imageData.data[i + 3] = 255;  // A value
        }
        // Draw image data to the canvas
        context.putImageData(imageData, x*20-20, y*20-20);
    }

</script>

<script id="DibujarGrilla" type="text/javascript" language="javascript">

    var c = document.getElementById("Canvas");
    var context = c.getContext("2d");
    // Box width
    var bw = 999;
    // Box height
    var bh = 999;
    // Padding
    var p = 0.5;
    var n = 0
    function drawBoard()
    {
        context.fillStyle = 'gold';
        context.fillRect(0, 0, bw, bh);
        for (var x = 0; x <= bw; x += bw/50) {
            context.moveTo(n + x + p, p);
            context.lineTo(n + x + p, bh + p);
        }
        for (var x = 0; x <= bh; x += bh/50) {
            context.moveTo(p, n + x + p);
            context.lineTo(bw + p, n + x + p);
        }
        context.strokeStyle = "black";
        context.stroke();
    }
    drawBoard()

</script>

{% endblock %}
