{% extends "Juego/Base.html" %}
{% load static %}


{% block titulo %}

    <title>Juego</title>

{% endblock titulo %}

{% block contenido %}
    
    <head>
        



    </head>

    <body>
        

        <section id="presentacion-juego">
            <div class="c-center">
                <h1 id="titulo">LIENZO ACTUAL</h1>
                <p>¡Pinta y colabora con gente de todo el mundo para hacer arte pixeleado!</p>
            </div>
        </section>
        <p id="x">Coord X</p>
        <p id="y">Coord Y</p>

        {% if user.is_authenticated %}
        <div class="row c-center">
            <div id="BotonesColores">
                        {% if request.user.is_superuser %}
                            <div class="btn-group">
                                <button onclick="drawBoard()">Reset</button>
                            </div>
                        {% endif %}
                        <div class="btn-group" role="group" aria-label="Sub-Button group 1">
                            <button onclick="cambiarColor([255,255,255,255])">Blanco</button>
                            <button onclick="cambiarColor([255,255,255,127])">Plateado</button>
                            <button onclick="cambiarColor([127,127,127,127])">Gris</button>
                            <button onclick="cambiarColor([0,0,0,1])">Negro</button>
                            <button onclick="cambiarColor([255,0,0,255])">Rojo</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Sub-Button group 2">
                            <button onclick="cambiarColor([255,0,0,127])">Rojo Oscuro</button>
                            <button onclick="cambiarColor([255,255,0,255])">Amarillo</button>
                            <button onclick="cambiarColor([255,255,0,127])">Amarillo Oscuro</button>
                            <button onclick="cambiarColor([255,0,255,255])">Rosado</button>
                            <button onclick="cambiarColor([255,0,255,127])">Rosado Oscuro</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Sub-Button group 3">
                            <button onclick="cambiarColor([0,255,0,255])">Verde</button>
                            <button onclick="cambiarColor([0,255,0,127])">Verde Oscuro</button>
                            <button onclick="cambiarColor([0,255,255,255])">Cyan</button>
                            <button onclick="cambiarColor([0,255,255,127])">Cyan Oscuro</button>
                            <button onclick="cambiarColor([0,0,255,255])">Azul</button>
                            <button onclick="cambiarColor([0,0,255,127])">Azul Oscuro</button>
                        </div>
                <hr>
            </div>
        </div>

        <hr>
        <div class="c-center">
            <div id="form-denuncia" style="display:none">
                <h4>
                    Primero selecciona aquellos pixeles que crees que debamos revisar
                </h4>
                <textarea id="texto-denuncia" class="textarea-denuncia"
                          required placeholder="Cuéntanos que es lo que sucede..."></textarea>
                <div class="mb-1 d-flex justify-content-center">
                    <input class="btn denuncia_btn" onclick="hacerDenuncia()"
                           value="Enviar denuncia"/>
                </div>
            </div>
            <div class="c-center">
            <button class="c-center btn btn-secondary"
                    id="btn-denunciar" onclick="modoDenuncia()"> Denunciar</button>
            </div>
            <hr>
        </div>
        {% endif %}

        <div class = "col-md-12 c-center">
            <canvas id="Canvas" width="1000" height="1000"
                    style="border: 1px solid #ffffff;
                    -ms-interpolation-mode: nearest-neighbor;
                    image-rendering: pixelated;
                    color:white; background-color: black;">
                Activa JavaScript
            </canvas>
        </div>

        
        <script id="VariablesGlobales" type="text/javascript" >   
            
            var csrftoken = '{{csrf_token}}';
            
            var canvas = document.querySelector('Canvas');

            var color_to_paint = [0,0,0,0];

            var pixelesdenuncia = [];

            var modo = true;

            function cambiarColor(color)
            {
                color_to_paint = color;
                salirModoDenuncia();
            }
        </script>

        
        <script id="CargarGrilla" type="text/javascript" src="{% static 'Juego/js/CargarGrilla.js' %}"></script>
        <script id="ObtenerCoordenadasCursor" type="text/javascript" src="{% static 'Juego/js/ObtenerCoordenadasCursor.js' %}"></script>
        <script id="ActualizarGrilla" type="text/javascript" src="{% static 'Juego/js/ActualizarGrilla.js' %}"></script>


        {% if user.is_authenticated %}

            <script id="RealizarJugada" type="text/javascript" src="{% static 'Juego/js/RealizarJugada.js' %}"></script>
            <script id="Denuncias" type="text/javascript" src="{% static 'Juego/js/Denuncias.js' %}"></script>

            <script id="Click1" type="text/javascript">

                canvas.addEventListener('click', function(event) {
                    var coordenadas = getCursorPosition(canvas, event);
                    if (modo) {
                        EnviarJugada(color_to_paint, coordenadas[0], coordenadas[1]);
                    }
                    else {
                        SeleccionarPixel(coordenadas[0], coordenadas[1], pixelesdenuncia);
                    }
                });
            </script>

        {% else %}
            <script id="Click2" type="text/javascript">
                canvas.addEventListener('click', function(event) { getCursorPosition(canvas, event); }) ;
            </script>
        {% endif %}

                
        

    
    </body>

{% endblock %}
