{% load static %}

<nav class="navbar navbar-expand-lg sticky-top" id="navigator">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo-brand" src="{% static 'Juego/images/logo.png' %}"></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <ion-icon name="menu-outline"></ion-icon>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/foro/" id="foro">Foro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria/" id="galeria">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/miscelaneo/" id="miscelaneo">Miscelaneo</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary" href='/profile/'>Mi cuenta</a>
                    <a class="btn btn-danger" href='/logout/'>Cerrar Sesión</a>
                    {% else %}
                    <a class="btn btn-primary" href='/login/'>Ingresar</a>
                    <a class="btn btn-danger" href='/register/'>Registrarme</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>