{% extends "Juego/Base.html" %}
{% block contenido %}
<h1>Registrate</h1>
<form>
	<div class="container">
		<div>
			<input type="text" placeholder="Username" name="username" required>
		</div>
		<div>
			<input type="email" placeholder="E-mail" name="email" required>
		</div>
		<div>
			<input type="password" placeholder="Contraseña" name="password" required>
		</div>
		<input type="submit" value="Registrarse" />
		<input type="checkbox" checked="checked">You agree to our terms of service
	</div>
	<hr>		
	<div>
		<a href="/login">¿Ya tienes cuenta?</a>
		<hr>
		<a href="/resendverification">Reenviar correo de verificación</a>
	</div>
</form>
{% endblock contenido %}
