{% extends "Juego/Base.html" %}
{% block titulo %}
<title>Blog Post</title>
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="user_card user_card_register">
            <div class="c-center mb-3">
                <h3 id="form-title"><strong>Report Post</strong></h3>
                <h2>¿Estas seguro que quieres reportar el Post "{{ object.title }}"?</h2>
            </div>
            <div class="mb-2">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-1 d-flex justify-content-center">
                        <input class="btn btn-outline-danger" type="submit" value="Reportar"/>
                        <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}