{% extends "Juego/Base.html" %}

{% block titulo %}
    <title>Foro</title>
{% endblock titulo %}

{% block contenido %}
    <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
                    {% if object.author == user %}
                      <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.parent_comment %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.parent_comment %}">Delete</a>
                      </div>
                    {% endif %}
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' object.id %}">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.text }}</p>
            </div>
    </article>
    <div>
        <br/>
        <hr>
        <h2>Comments</h2>
        <br/>
            {% for comment in context %}
                <strong>
                    {{ comment.author }} -
                    {{ comment.date_posted }}
                </strong>
                <br/>
                {{ comment.text }}
                <br/>
                {{ comment.post }}
                <br/>
            {% endfor %}
    </div>
{% endblock contenido %}
