{% extends "Juego/Base.html" %}

{% block titulo %}
    <title>Foro</title>
{% endblock titulo %}

{% block contenido %}
    <article class="media content-section">
            <div class="media-body"  style="text-align:justify; text-justify:inter-word;">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' object.parent_comment %}">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.text }}</p>
            </div>
    </article>
{% endblock contenido %}
