{% extends "Juego/Base.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
	<title>Ingresar</title>
{% endblock titulo %}

{% block contenido %}
    <form method="POST">
        {% csrf_token %}
		<fieldset><legend><strong>Iniciar sesión</strong></legend>{{ form|crispy }}</fieldset>
		<input type="submit" value="Ingresar" />
		<input type="checkbox" checked="checked">Recuerdame
    </form>
	<div>
		¿No te has registrado?
		<a class ="link" href="/register">Crear cuenta nueva</a>
		<hr>
		<a class ="link" href="/password-reset">¿Olvidaste tu contraseña?</a>
	</div>

{% endblock contenido %}
