{% extends "Juego/Base.html" %}

{% block titulo %}
	<title>Log In</title>
{% endblock titulo %}

{% block contenido %}
    <form method="POST">
        {% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Log In" />
		<input type="checkbox" checked="checked">Remember Me
    </form>
	<div>
		¿No te has registrado?
		<a href="/register" style="color:Gold;">Crear cuenta nueva</a>
		<hr>
		<a href="/forgotpassword" style="color:Gold;">¿Olvidaste tu contraseña?</a>
	</div>

{% endblock contenido %}
