{% extends "Juego/Base.html" %}

{% block titulo %}
	<title>Register</title>
{% endblock titulo %}

{% block contenido %}

    <form method="POST">
        {% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Registrarse" />
		<input type="checkbox" checked="checked">Estás de acuerdo con nuestros términos de servicio
    </form>
	<div>
		<a href="/login" style="color:Gold;">¿Ya tienes cuenta?</a>
		<hr>
		<a href="/resendverification" style="color:Gold;">Reenviar correo de verificación</a>
	</div>

{% endblock contenido %}
