{% extends "Juego/Base.html" %}

{% block titulo %}
<title>Miscelaneo</title>
{% endblock titulo %}

{% block contenido %}
<h1>Este sitio fue creado como un proyecto de universidad</h1>
<hr>
<br>
<h1>Hecho por los alumnos:</h1>
<br>
<h3><a href="https://github.com/Pablo-Balaudo">Balaudo Pablo</a></h3>
<br>
<h3><a href="https://github.com/LucaBelmonteAmenta">Belmonte Lucas</a></h3>
<br>
<h3><a href="https://github.com/yair0602">Lastra Yair</a></h3>
<br>
<hr>
<h2>Y con ayuda de los profes!</h2>
{% endblock contenido %}